{% extends "base.html" %}

{% block meta_extra %}
  <meta name="color-scheme" content="dark">
  {% include "includes/pwa_meta.html" %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth-base.css') }}">
  {% block extra_css %}{% endblock %}
{% endblock %}

{% block body_class %}auth-body{% endblock %}

{% block scripts %}
  {% block extra_js %}{% endblock %}
  <script src="{{ url_for('static', filename='js/pwa-register.js') }}" defer></script>
{% endblock %}
